ADMIN_UI_PORT=3000
CONTROL_API_PORT=4000
STORAGE_API_PORT=4100
MCP_GATEWAY_PORT=7000
MCP_TEXTOPS_PORT=7030
MCP_ASSETS_PORT=7040
MCP_PLAYWRIGHT_PORT=7010
MCP_MARKITDOWN_PORT=7020
MCP_QPS_TOOLKIT_PORT=7050
ENABLE_QPS_TOOLKIT=false
SEED_DEMO_CONTENT=true

POSTGRES_HOST=postgres
POSTGRES_PORT=15432
POSTGRES_DB=workbench
POSTGRES_USER=workbench
POSTGRES_PASSWORD=workbench

STORAGE_ROOT=/data/storage
ASSETS_ROOT=/data/assets
CONTROL_DATA_ROOT=/data/control
QPS_TOOLKIT_ROOT=./local/qps-toolkit
